<div id="ribbon">
        
        <span class="ribbon-button-alignment">
          <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <!-- This is auto generated -->
        </ol>   
        <!-- end breadcrumb --> 
        
        <!-- You can also add more buttons to the 
           ribbon for further usability 
           
           Example below: 
           
        <span class="ribbon-button-alignment pull-right">
          <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
          <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
          <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->
        
      </div>
      <!-- END RIBBON -->
      
      <!-- MAIN CONTENT -->
      <div id="content">
      <center><h2>Welcome to Dashboard</h2></center>
        
        
      </div>
      <!-- END MAIN CONTENT -->       
          
    </div>
    <!-- END MAIN PANEL -->
    
    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
       Note: These tiles are completely responsive,
       you can add as many as you like
      -->
    <div id="shortcut">
      <ul>
        <li>
          <a href="#ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue">
            <span class="iconbox">
              <i class="fa fa-envelope fa-4x"></i>
              <span>Mail <span class="label pull-right bg-color-darken">14</span></span>
            </span>
          </a>
        </li>
        <li>
          <a href="#ajax/calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark">
            <span class="iconbox">
              <i class="fa fa-calendar fa-4x"></i>
              <span>Calendar</span>
            </span>
          </a>
        </li>
        <li>
          <a href="#ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple">
            <span class="iconbox">
              <i class="fa fa-map-marker fa-4x"></i>
              <span>Maps</span>
            </span>
          </a>
        </li>
        <li>
          <a href="#ajax/invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark">
            <span class="iconbox">
              <i class="fa fa-book fa-4x"></i>
              <span>Invoice <span class="label pull-right bg-color-darken">99</span></span>
            </span>
          </a>
        </li>
        <li>
          <a href="#ajax/gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight">
            <span class="iconbox">
              <i class="fa fa-picture-o fa-4x"></i>
              <span>Gallery </span>
            </span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" class="jarvismetro-tile big-cubes selected bg-color-pinkDark">
            <span class="iconbox">
              <i class="fa fa-user fa-4x"></i>
              <span>My Profile </span>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <%= render "common/admin/left_bar" %>