<% content_for :quick_snap do %>
  <ul class="" id="sparks">
    <li class="sparks-info">
      <h4> My Income <span class="txt-color-blue">$47,171</span></h4>
      <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 89px; height: 26px; vertical-align: top;" width="89" height="26"></canvas></div>
    </li>
    <li class="sparks-info">
      <h4> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;45%</span></h4>
      <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 82px; height: 26px; vertical-align: top;" width="82" height="26"></canvas></div>
    </li>
    <li class="sparks-info">
      <h4> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h4>
      <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 82px; height: 26px; vertical-align: top;" width="82" height="26"></canvas></div>
    </li>
  </ul>
<% end %>

<article class="col-sm-12 sortable-grid ui-sortable">
<<<<<<< HEAD
 Hello User !!!
=======
  <h2>Welcome <%= current_user.first_name+ current_user.last_name%></h2>
     

>>>>>>> 248922394a9e86c39ba2c8e2b042e452740f0bb3
</article>