<ul class="" id="sparks">
    <li class="sparks-info">
      <h5> Total Groups <span class="txt-color-blue"><%= groups.size %></span></h5>
      <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 89px; height: 26px; vertical-align: top;" width="89" height="26"></canvas></div>
    </li>
    <li class="sparks-info">
      <h5>Active Groups <span id="stat-count" class="txt-color-purple"> </span></h5>
      <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm"><canvas style="display: inline-block; width: 82px; height: 26px; vertical-align: top;" width="82" height="26"></canvas></div>
    </li>
    
  <ul>