<div>
  <div class="pull-left">Lists all users.</div>
  <div class="pull-right">
    <%= link_to "<i class='glyphicon glyphicon-plus'></i> Add User".html_safe, new_user_path, {:remote => true, :class=>"btn btn-info btn-sm"} if is_admin? %>
  </div>
</div>

<p class="clearfix"></p>

<%= render :partial => "list", :locals => { :users => @users } %>