<div>
  <div class="pull-left">Create a New user</div>
  <div class="pull-right">
    <%= link_to "<i class='fa fa-reorder'></i> List".html_safe, users_path, {:class=>"btn btn-info btn-sm"} %>
  </div>
</div>  

<p class="clearfix"></p>

<%= render :partial => "form", :locals => { :user => @user } %>