<div id="ribbon">
  <span class="ribbon-button-alignment">
     <span data-html="true" data-original-title="&lt;i class='text-warning fa fa-warning'&gt;&lt;/i&gt; Warning! This will reset all your widget settings." data-placement="bottom" rel="tooltip" data-title="refresh" class="btn btn-ribbon" id="refresh">
      <i class="fa fa-refresh"></i>
     </span>
  </span>
  <ol class="breadcrumb">
    <li>Home</li><li>Dashboard</li>
  </ol>
</div>