<div id="shortcut">
      <ul>
        <li>
          <a class="jarvismetro-tile big-cubes bg-color-blue" href="#ajax/inbox.html">
            <span class="iconbox">
              <i class="fa fa-envelope fa-4x"></i>
              <span>Mail <span class="label pull-right bg-color-darken">14</span></span>
            </span>
          </a>
        </li>
        <li>
          <a class="jarvismetro-tile big-cubes bg-color-orangeDark" href="#ajax/calendar.html">
            <span class="iconbox">
              <i class="fa fa-calendar fa-4x"></i>
              <span>Calendar</span>
            </span>
          </a>
        </li>
        <li>
          <a class="jarvismetro-tile big-cubes bg-color-purple" href="#ajax/gmap-xml.html">
            <span class="iconbox">
              <i class="fa fa-map-marker fa-4x"></i>
              <span>Maps</span>
            </span>
          </a>
        </li>
        <li>
          <a class="jarvismetro-tile big-cubes bg-color-blueDark" href="#ajax/invoice.html">
            <span class="iconbox">
              <i class="fa fa-book fa-4x"></i>
              <span>Invoice <span class="label pull-right bg-color-darken">99</span></span>
            </span>
          </a>
        </li>
        <li>
          <a class="jarvismetro-tile big-cubes bg-color-greenLight" href="#ajax/gallery.html">
            <span class="iconbox">
              <i class="fa fa-picture-o fa-4x"></i>
              <span>Gallery </span>
            </span>
          </a>
        </li>
        <li>
          <a class="jarvismetro-tile big-cubes selected bg-color-pinkDark" href="javascript:void(0);">
            <span class="iconbox">
              <i class="fa fa-user fa-4x"></i>
              <span>My Profile </span>
            </span>
          </a>
        </li>
      </ul>
    </div>