<% flash.each do |key, value| %>
  <% flash_class = (key == :alert) ? "danger" : "success"  %>
<div id="flash-message" class="alert alert-<%= flash_class %> fade in col-sm-9">
  <button data-dismiss="alert" class="close">×</button>
  <i class="fa-fw fa fa-times"></i>
  <strong><%= key.capitalize %>!</strong> <%= value.html_safe %>
</div>
<% end %>
