<div id="logo-group">
  <span id="logo"><%= link_to image_tag("smartadmin/logo.png"), root_path %></span>
</div>

<div id="flash-messages">
  <%= render "common/flash_messages", :locals => {flash => flash } %>
</div>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<span id="login-header-space"> 
  <h4 class="hidden-mobile">Need an account?</h4> 
  <%= link_to "Create account", new_registration_path(resource_name), :class=>"btn btn-danger" %>
</span>
<% end -%>