      <!--<span id="logo"></span>-->

    <div id="logo-group">
      <span id="logo"> <%= image_tag("smartadmin/logo.png")%></span>

      <!-- END AJAX-DROPDOWN -->
    </div>

    <span id="login-header-space"> <h4 class="hidden-mobile">Need an account?</h4> <a class="btn btn-danger" href="users/new">Create account</a> </span>